@model List<BlogApp.Data.Posts>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager

<h2>Profil Seçenekleri</h2>
<a asp-action="Edit" asp-controller="Profile" asp-route-id="@UserManager.GetUserId(User)"
    class="mt-3 btn btn-light">Profilini düzenle</a>
<h4 class="mt-3">Paylaşılan Postlar</h4>
<ul>
    @foreach (var post in Model)
    {
        <li>
            <p><strong>@post.UserName</strong> - @post.CreatedAt.ToString("dd.MM.yyyy HH:mm")</p>
            <p>@post.Content</p>
            <form asp-action="DeletePost" asp-controller="Profile" method="post">
                <input type="hidden" name="postId" value="@post.PostId" />
                <button type="submit" class="btn btn-danger">Postu Sil</button>
            </form>
        </li>
    }

</ul>
